body{
  background-color: rgb(255, 242, 255);
  display: grid;
}
header{
  height: 100px;
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
main {
  display: grid;
  gap: 30px;
}
main section:nth-child(1) img{
  width: 80%;
  margin-left: 10%;
}
main section:nth-child(2)  {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}
main section:nth-child(3){
  width: 80%;
  margin-left: 10%;
  display: flex;
  gap: 10%;
  align-items: center;
}

div{
  display: grid;
  gap: 20px;
  
}
div h1{
  font-size: 50px;
  height: 100px;
}
div p{
  font-size: 20px;
  text-align: justify;
  overflow: scroll;
  height: 150px;
}
div a{
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: darkblue;
  background-color: rgb(253, 171, 156);
  padding: 10px;
  border-radius: 50px;
}
div a:hover{
  background-color: rgb(255, 72, 40);
color: rgb(255, 255, 255);
}
header a{
  align-content: center;
   text-decoration: none;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header a:hover{
  color: rgb(255, 0, 0);
}
main section:nth-child(4) img{
  width: 80%;
  margin-left: 10%;
}
footer{
  text-align: center;
align-items: center;
font-size: 20px;
height: 50px;
}